<% var block = options.block %>
<%- block._editable %>

<div class="examples_scrollable_navigation">
	<div class="container">
		<div class="horizontal_menu">
			<div class="horizontal_menu__container">
				<a class="horizontal_menu__link active" href="#">Overview</a>
				<div class="horizontal_menu__prev"><a class="horizontal_menu__arrow horizontal_menu__arrow--left"><i class="horizontal_menu__icon icon icon-arrow-left2"></i></a></div>
				<div class="horizontal_menu__content">
					<div class="horizontal_menu__scroll">
						<% for(var i = 1; i < 20; i++) { %>
							<a class="horizontal_menu__link" href="#">Lorem <%= i %></a>
						<% } %>
					</div>
				</div>
				<div class="horizontal_menu__next"><a class="horizontal_menu__arrow horizontal_menu__arrow--right"><i class="horizontal_menu__icon icon icon-arrow-right2"></i></a></div>
			</div>
		</div>
	</div>
</div>