<% var block = options.block %>
<%- block._editable %>

<div class="layer_quote">
	<blockquote class="layer_quote__quote"><%- block.quote %>
	<% if(block.cite){ %>
		<cite class="layer_quote__cite">
			<%- block.cite %>
		</cite>
	<% } %>
	</blockquote>
</div>