/*
@font-face {
    font-family: 'faraco_handregular';
    src: url('/assets/fonts/faraco/faraco_hand-webfont.woff2') format('woff2'),
         url('/assets/fonts/faraco/faraco_hand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/